<h1>Please Login</h1>

<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>
<%= form_tag({controller: 'session', action: create_user, method: 'post'}) do %>
  <label for="email" id="email">Email</label>
  <input type="text" name="email" id="email"><br>
  <label for="password" id="password">Password</label>
  <input type="password" name="password" id="password"><br><br>
  <input type="submit" value='Submit', class="btn btn-info">
<% end %>
