<!--<h1>Please Login</h1>

<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>
<%= form_tag({controller: 'session', action: 'create_employer', method: 'post'}) do %>
  <label for="email" id="email">Email</label>
  <input type="text" name="email" id="email"><br>
  <label for="password" id="password">Password</label>
  <input type="password" name="password" id="password"><br><br>
  <input type="submit" value='Submit' >
<% end %>-->
<%= render partial: "user" ,locals: { create_user: "create_employer"} %>
<br>
<button type="button" class="btn btn-light">
  <a href='/auth/github'> or sign up with Github!</a>
</button >
