<!-- <h1>Static#welcome</h1>
<p>Find me in app/views/static/welcome.html.erb</p> -->
<br><br>
<h1>Welcome.</h1><br>
<h2> Are You an <span id="new_employer"> <%= link_to 'Employer', new_employer_path %> </span> 
or an <span id="new_employee"> <%= link_to 'Employee', new_employee_path %></span> ? </h2>

<br><br><br><br><br><br><br>

<br>
